@import 'modern-normalize';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul,
ol {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

input,
textarea,
select,
button {
  font: inherit;
}
